.flex-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 7px;
}

.input {
    flex-grow: 1;
    min-height: 48px;
    padding: 10px;
    overflow: hidden;
    color: gray;
    white-space: break-spaces;
    resize: none;
    border: solid 2px;
    border-color: var(--primary-color);
    border-radius: var(--border-radius);
    transition: 0.5s;
}

.input:hover,
.input:focus {
    border-color: var(--secondary-color);
}

.input:focus {
    color: black;
    outline: 0;
}

.create-button {
    width: 28px;
    height: 28px;
    padding: 0;
    background: transparent;
    border: 0;
}

.create-icon {
    transition: 0.5s;
}

.create-icon:hover {
    fill: var(--secondary-color);
}
