.list-item {
    height: auto;
    overflow: hidden;
    list-style: none;
    cursor: pointer;
    background-color: var(--primary-color);
    border-bottom: 1px solid;
    transition: 0.5s;
}

.list-item:hover {
    background-color: var(--secondary-color);
}

.list-item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.list-item:last-child {
    border-bottom: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.list-item__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
}

.text {
    position: relative;
    display: inline-block;
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.text::before {
    position: absolute;
    top: calc(50%);
    right: 0;
    width: 0;
    height: 2px;
    content: "";
    background: rgb(116, 116, 116);
    transition: inherit;
}

.done {
    color: rgb(116, 116, 116);
}

.done::before {
    left: 0;
    width: 100%;
}

.delete-button {
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    background: transparent;
    border: 0;
}

.checkbox {
    width: 20px;
    height: 20px;
}

.delete-icon {
    transition: 0.5s;
}

.delete-icon:hover {
    fill: #fff;
}
