.flex-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 6px;
}

.input {
    flex-grow: 1;
    padding: 10px;
    overflow: hidden;
    color: gray;
    white-space: break-spaces;
    resize: none;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    transition: var(--transition-duration);
}

.input:hover,
.input:focus-visible {
    color: black;
    border-color: var(--secondary-color);
}

.create-button {
    width: 28px;
    height: 28px;
}

.create-icon {
    transition: var(--transition-duration);
}

.create-button:hover .create-icon,
.create-button:focus-visible .create-icon {
    fill: var(--secondary-color);
}
