.flex-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 2px;
}

.input {
    flex-grow: 1;
    padding: 10px;
    overflow: hidden;
    color: gray;
    white-space: break-spaces;
    resize: none;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    transition: var(--transition-duration);
}

.input:hover,
.input:focus-visible {
    color: black;
    border-color: var(--secondary-color);
}

.add-button {
    padding: 0;
    background: transparent;
    outline: none;
    border: 0;
    cursor: pointer;
}

.add-icon {
    width: 40px;
    transition: var(--transition-duration);
}

.add-button:hover .add-icon,
.add-button:focus-visible .add-icon {
    stroke: var(--secondary-color);
}
