.reset-button {
    padding: 0;
    background: transparent;
    outline: none;
    border: 0;
    cursor: pointer;
}

.reset-icon {
    transition: var(--transition-duration);
    width: 35px;
}

.reset-button:hover .reset-icon,
.reset-button:focus-visible .reset-icon {
    stroke: var(--secondary-color);
}
