@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import url(./variables.css);

*,
*::before,
*::after {
    box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

.app {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    max-width: 400px;
    margin: 50px auto 0 auto;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}

.reset-button-wrapper {
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translateY(-50%);
}

.counter-wrapper {
    text-align: center;
}
